{% extends 'base.html' %}
{% load static %}

{% block content %}

<center>
    <h2 style="background-color:whitesmoke;">Biodata Diri</h2>
</center>

<center>
    <img src="/static/images/foto kedua.jpg" alt="Foto diri sendiri" width="200px">
</center>

<center>
<p></p>
<h3 style="background-color:rgba(23, 91, 108, 0.831);">Biodata Penulis</h3>
<p style="font-family: 'times new roman'">Nama : Amanda Putri Maulidya</p>
<p style="font-family: 'times new roman'">NIM : 2225210094</p>
<p style="font-family: 'times new roman'">Kelas : 3C</p>
<p style="font-family: 'times new roman'">Dosen Pengampu : Aan Hendrayana</p>
<hr />

<footer>
    <div class="font-small">&copy; Teknologi Informasi dan Komunikasi Untuk Pembelajaran</div> 
    <div class="font-small">@amandapeem</div>
</footer>
</center>

{% endblock %}